@model WardrobeTracker.Models.WardrobeItem

@{
    ViewData["Title"] = "Item";
}

<div>
    <h4>Item</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LifestyleCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LifestyleCategory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Secondhand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Secondhand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PricePaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PricePaid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RetailPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RetailPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fabric)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fabric)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryColor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrimaryColor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateBought)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateBought)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-danger" >Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
